<section class="slider">
  <div class="container slider__container">
    <div class="swiper slider__slider">
      <div class="slider__slider-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <!-- ! Slide #1 -->
        <div class="swiper-slide slider__article">
          <img
            class="slider__article-img"
            loading="lazy"
            src="./assets/image/slider-about-slide-1.jpg"
            width="502"
            height="370"
            alt="The girl leads the meeting"
          />
          <p class="slider__descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a class="slider__detaild"> See details -></a>
        </div>
        <!-- ! Slide #2 -->
        <div class="swiper-slide slider__article">
          <img
            class="slider__article-img"
            loading="lazy"
            src="./assets/image/slider-about-slide-1.jpg"
            width="502"
            height="370"
            alt="The girl leads the meeting"
          />
          <p class="slider__descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a class="slider__detaild"> See details -></a>
        </div>
        <!-- ! Slide #3 -->
        <div class="swiper-slide slider__article">
          <img
            class="slider__article-img"
            loading="lazy"
            src="./assets/image/slider-about-slide-1.jpg"
            width="502"
            height="370"
            alt="The girl leads the meeting"
          />
          <p class="slider__descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a class="slider__detaild"> See details -></a>
        </div>
        <!-- ! Slide #4 -->
        <div class="swiper-slide slider__article">
          <img
            class="slider__article-img"
            loading="lazy"
            src="./assets/image/slider-about-slide-1.jpg"
            width="502"
            height="370"
            alt="The girl leads the meeting"
          />
          <p class="slider__descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a class="slider__detaild"> See details -></a>
        </div>
        <!-- ! Slide #5 -->
        <div class="swiper-slide slider__article">
          <img
            class="slider__article-img"
            loading="lazy"
            src="./assets/image/slider-about-slide-1.jpg"
            width="502"
            height="370"
            alt="The girl leads the meeting"
          />
          <p class="slider__descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a class="slider__detaild"> See details -></a>
        </div>
        <!-- ! Slide #6 -->
        <div class="swiper-slide slider__article">
          <img
            class="slider__article-img"
            loading="lazy"
            src="./assets/image/slider-about-slide-1.jpg"
            width="502"
            height="370"
            alt="The girl leads the meeting"
          />
          <p class="slider__descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a class="slider__detaild"> see details -></a>
        </div>
      </div>
    </div>
  </div>
</section>
