<section class="hero hero-decor">
  <div class="container hero-container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle heading-h5">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>

    <!-- ! Navigation catefories for sliders -->
    <ul class="hero-categories__nav-list">
      <li class="hero-categories__nav-item">
        <a
          data-categories="all"
          class="hero-categories__nav-link hero-categories__nav-link--active text-p-default"
        >
          View all
        </a>
      </li>
      <li class="hero-categories__nav-item">
        <a
          data-categories="design"
          class="hero-categories__nav-link text-p-default"
        >
          Design
        </a>
      </li>
      <li class="hero-categories__nav-item">
        <a
          data-categories="articles"
          class="hero-categories__nav-link text-p-default"
        >
          Articles
        </a>
      </li>
      <li class="hero-categories__nav-item">
        <a
          data-categories="product"
          class="hero-categories__nav-link text-p-default"
        >
          Product
        </a>
      </li>
      <li class="hero-categories__nav-item">
        <a
          data-categories="software-development"
          class="hero-categories__nav-link text-p-default"
        >
          Software Development
        </a>
      </li>
      <li class="hero-categories__nav-item">
        <a
          data-categories="cistomer-success"
          class="hero-categories__nav-link text-p-default"
        >
          Customer Success
        </a>
      </li>
    </ul>

    <!-- ! Slider section -->
    <div class="swiper hero__slider">
      <div class="hero__slider-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <!-- ! Slide 1 -->
        <div
          class="swiper-slide hero__article"
          href="#"
          data-categories="design"
        >
          <img
            class="hero__article-img"
            loading="lazy"
            src="./assets/image/hero-slide-1.jpg"
            width="515"
            height="428"
            alt="Woman and laptop"
          />
          <div class="hero__article-head p-text-small">
            <div class="hero__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
            <address class="hero__article-author">by : Albert Sans</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            <a href="/article/1">Practice making User Flow</a>
          </h3>
          <p class="hero__article-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <!-- ! Slide 2 -->
        <div
          class="swiper-slide hero__article"
          href="#"
          data-categories="design"
        >
          <img
            class="hero__article-img"
            loading="lazy"
            src="./assets/image/hero-slide-1.jpg"
            width="515"
            height="428"
            alt="Woman and laptop"
          />
          <div class="hero__article-head p-text-small">
            <div class="hero__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
            <address class="hero__article-author">by : Albert Sans</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            <a href="/article/1">Practice making User Flow</a>
          </h3>
          <p class="hero__article-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <!-- ! Slide 3 -->
        <div
          class="swiper-slide hero__article"
          href="#"
          data-categories="design"
        >
          <img
            class="hero__article-img"
            loading="lazy"
            src="./assets/image/hero-slide-1.jpg"
            width="515"
            height="428"
            alt="Woman and laptop"
          />
          <div class="hero__article-head p-text-small">
            <div class="hero__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
            <address class="hero__article-author">by : Albert Sans</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            <a href="/article/1">Practice making User Flow</a>
          </h3>
          <p class="hero__article-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <!-- ! Slide 4 -->
        <div
          class="swiper-slide hero__article"
          href="#"
          data-categories="articles"
        >
          <img
            class="hero__article-img"
            loading="lazy"
            src="./assets/image/hero-slide-1.jpg"
            width="515"
            height="428"
            alt="Woman and laptop"
          />
          <div class="hero__article-head p-text-small">
            <div class="hero__article-date">
              Published in Insight
              <time datetime="2026-01-30">Jan 30, 2026</time>
            </div>
            <address class="hero__article-author">by : Albert Sans</address>
          </div>
          <h3 class="hero__article-title heading-h5">
            <a href="/article/1">Practice making User Flow</a>
          </h3>
          <p class="hero__article-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
